<h1>Gallery</h1>

<hr>

<label>Password: <input type="password" [(ngModel)]="passwordInput"></label>
<button (click)="password = passwordInput">Open Form</button>
<form *ngIf="checkPassword()" (submit)="addImage($event)">
  <hr>
  <label>Image title: <input name="title" [(ngModel)]="title"></label> <br>
  <label>Image URL: <input name="image" [(ngModel)]="pic"></label> <br>
  <button type="submit" [disabled]="formIsEmpty()">Add image</button>
</form>



<hr>

<app-image *ngFor="let image of images" [title]="image[1]" [image]="image[0]"></app-image>
