<button (click)="showLoto = true; getNumbers()" style="display: block; margin: 0 auto">New Numbers</button>

<div *ngIf="showLoto" style="text-align: center; font-size: 20px">
  <div
    *ngFor="let number of numbers"
    style="border: 2px solid black; border-radius: 50%;line-height: 50px; width: 50px; height: 50px; text-align: center; display: inline-block; margin: 20px 20px"
  >
    {{number}}
  </div>
</div>
